@inherits LayoutComponentBase


<MudThemeProvider Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />
<RedirectToLogin/>
<MudLayout>
    <MudAppBar Style="background-color:white; color:black" Elevation="25">
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
           <MudImage Width="60" Height="60" Src="images/logo.png"></MudImage>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.MdAndUp">
            <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.Xs">
            <MudText Typo="Typo.h6" Class="ml-4">RTSA Document Managent System</MudText>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
            <MudText Typo="Typo.subtitle2">RTSA Document Managent System</MudText>
        </MudHidden>
        <MudSpacer />             
        <MudMenu Dense="true" Class="mt-1 ml-4">
            <ActivatorContent>
                <MudAvatar>
                    <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.AccountCircle"></MudIcon>
                </MudAvatar>
            </ActivatorContent>
            <ChildContent>
                <PersonCard Class="mt-n2" />
                <MudDivider />
                <MudListItem Text="Account" Icon="@Icons.Material.Outlined.Person" Href="/account" />

                <MudListItem Icon="@Icons.Material.Outlined.Login">
                    <a href="logout">Logout</a>
                </MudListItem>
            </ChildContent>
        </MudMenu>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="25" ClipMode="DrawerClipMode.Always">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudHidden Breakpoint="Breakpoint.SmAndDown">
            <MudToolBar DisableGutters="true">
                <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" OnClick="@((e) => DrawerToggle())" Class="ml-3" />
                <MudBreadcrumbs Items="LayoutService.Breadcrumbs"></MudBreadcrumbs>
                <MudSpacer />
           </MudToolBar>
        </MudHidden>
        <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>


@code {
    private MudBlazorAdminDashboard _theme = new();

    public bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    protected override void OnInitialized()
    {
        StateHasChanged();
    }

}